/* Модальное окно */

.backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: auto;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 450px;
    padding: 40px;

    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $desktop) {
        max-width: 100%;  
        width: 528px;
    }
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    background-color: $white-color;
}

.button-close__icon {
    fill: $title-text-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .button-close:hover &,
    .button-close:focus & {
        fill: $accent-color;
    }
}

/* Форма в модальном окне */
.modal__title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-top: 0px;
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-text-color;
    margin-bottom: 4px;
}

.form-field__input {
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.form-field--comment {
    margin-bottom: 20px;
}

.form-field__block {
    position: relative;
    display: flex;
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: $title-text-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .form-field__input:hover ~ &,
    .form-field__input:focus ~ & {
        fill: $accent-color;
    }
}

.form-field__textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    height: 120px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.form-field__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


/* Кастомный чек бокс */

.form-checkbox {
    margin-bottom: 30px;
}

.form-checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.form-checkbox__link {
    color: $accent-color;
    padding-left: 2px;
}

.form-checkbox__icon {
    border: 1px solid $title-text-color;
    border-radius: 2px;
    fill: $white-color;
    margin-right: 7px;
    .form-checkbox__input:checked + & {
        fill: $white-color;
        background-color: $accent-color;
        border-color: $accent-color;
        background-origin: border-box;
    }
}

.form-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Кнопка в модальном окне */

.button--modal {
    display: block;
    padding: 10px 55px;
}