/* Подвал сайта */

.section-footer {
    background-color: $background-color-accent;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container--footer {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.container-contacts--footer {
        @media screen and (min-width: $tablet) {
            display: flex;
            align-items: baseline;
            justify-content: center;
        }
}

.container-contacts {
    text-align: center;

    @media screen and (min-width: $tablet) {
        margin-right: 165px;   
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
        margin-right: 70px;
        flex-wrap: wrap;
    }
}

/* Контакті в футере */

.footer-contacts {
    @extend %list;

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px; 
    }
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
    }
}

.footer-contacts__link {
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-contacts__address {
    font-style: normal;
    color: $white-color;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

/* Присоединяйтесь */

.footer-join {
    @media screen and (max-width: 737px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;        
    }
}

.footer-join__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 0px;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.footer-join__icon {
    @extend .social__link;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white-color;
}

/* Подписка в футере */

.subscription__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: $background-color-accent;

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        
    }

    @media screen and (min-width: $tablet) {
            width: 450px;
    }

    @media screen and (min-width: $desktop) {
        display: inline;
        width: 358px;
        margin-right: 12px;
    }
}

.button {
    @media screen and (max-width: 1199px) {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

.social-icon--left {
    @extend .social-icon;
    margin-left: 10px;
}