    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $accent-color-hover: #188CE8;
    $white-color: #ffffff;
    $background-color-secondary: #f5f4fa;
    $background-color-accent: #2f303a;
    $color-icon: #AFB1B8;
    $black-color: #000000